<%= render partial: 'layouts/navbar' %>
<div class='text-center'>
  <div style='background-color:rgba(0,0,0,0.7); height:300px; margin-top:170px'>
    <h1 style='color:red; padding-top:60px; font-size:70px; font-family: Impact'>Muscle Factory</h1>
    <i style='color:red; font-size:17px'>YOU DON'T HAVE TO BE GREAT TO START, BUT YOU HAVE TO START TO BE GREAT</i>
    <br>
    <% if user_sign_in? %>
      <%= link_to 'Get Started', gateway_path, class:'btn btn-default btn-lg', style:'margin-top:20px;' %>
    <% else %>
    <%= link_to 'Get Started', new_session_path, class:'btn btn-default btn-lg', style:'margin-top:20px;', data: {toggle: 'modal', target: '#login'} %>
    <% end %>
  </div>

  <div class="modal fade" id="login" title="Login">
    <div class='modal-dialog'>
      <div class='modal-content' style='padding: 20px'>

      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  $('body').vegas({
    transitionDuration: 1000,
      slides: [
          { src: '<%= image_path('image05') %>' },
          { src: '<%= image_path('image02') %>' },
          { src: '<%= image_path('image03') %>' },
          { src: '<%= image_path('image04') %>' },
          { src: '<%= image_path('image06') %>' },
          { src: '<%= image_path('image07') %>' }
      ],
      animation: 'kenburns',
      transition: 'blur'
  });
});
</script>
