
<div class='text-center' id="exercises-input">

<i class='glyphicon glyphicon-chevron-left pull-left' id='back-button' style='color:gray; font-size:15px'></i>

  <h1>List of Exercises</h1>
  <% @exercises.each do |e| %>
    <%= simple_form_for @drill, :url => drills_path(@drill, {group_id: @group}) do |f| %>
      <div style='background-color:white; margin-right:100px'>

        <div class='container' style='margin-right:-70px'>
          <div class=row>
            <div class='col-md-3' style='margin-top:38px'>
              <span style='color:black'><%= e.name %></span>
            </div>
            <div class='col-md-3'>
              <p style='color:black'><%= f.input :sets %></p>
            </div>
            <div class='col-md-3'>
              <p style='color:black'><%= f.input :reps %></p>
            </div>
            <div class='col-md-3' style='margin-top:34px; margin-left:-70px'>
              <span style='color:black'><%= f.submit 'Add', class:'btn btn-primary' %></span>
            </div>
          </div>

          <%= f.input :exercise_id, input_html: { value: e.id }, as: :hidden  %>
          <%= f.input :day_id, input_html: { value: @day }, as: :hidden  %>

        </div>

      </div>
    <% end %>

  <% end %>
</div>
