<div class='container text-center'>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <h1 style="color:red; margin-right: 80px">My Program</h1>
  <hr style='margin-right: 80px'>

  <div class='row' id='index-row'>
    <h2>Monday</h2>
    <% if @drills.where(day_id:0).count > 0 %>

      <% arr = [] %>

      <% @drills.where(day_id:0).each do |x| %>
        <% if !arr.include?(x.exercise.group.name) %>
          <% arr.push(x.exercise.group.name) %>
        <% end %>
      <% end %>
      <h3><%= arr.join(' & ') + ' Day' %></h3>
      <br>

      <div class='col-md-3'><span><strong>Exercises</strong></span></div>
      <div class='col-md-3'><span><strong>Sets</strong></span></div>
      <div class='col-md-3'><span><strong>Reps</strong></span></div>
      <div class='col-md-3'><span style='color:Gainsboro; margin:2px'><strong>DELETE</strong></span></div>

      <% @drills.where(day_id:0).each do |x| %>
      <div id="drill<%= x.id %>">
        <div class='col-md-3'>
          <span><%= x.exercise.name %></span>
        </div>
        <div class='col-md-3'>
          <span><%= x.sets %></span>
        </div>
        <div class='col-md-3'>
          <span><%= x.reps %></span>
        </div>
        <div class='col-md-3'>
          <%= link_to 'Delete', drill_path(x), method: :delete, remote: true, class:'btn btn-primary btn-sm'%>
        </div>
      </div>
      <% end %>
      <hr>
    <% else %>
      <span>Rest Day</span>
    <% end %>
  </div>
  <hr style='margin-right: 80px'>

  <div class='row' id='index-row'>
    <h2>Tuesday</h2>
    <% if @drills.where(day_id:1).count > 0 %>
      <% arr = [] %>

      <% @drills.where(day_id:1).each do |x| %>
        <% if !arr.include?(x.exercise.group.name) %>
          <% arr.push(x.exercise.group.name) %>
        <% end %>
      <% end %>
      <h3><%= arr.join(' & ') + ' Day' %></h3>
      <br>

      <div class='col-md-3'><span><strong>Exercises</strong></span></div>
      <div class='col-md-3'><span><strong>Sets</strong></span></div>
      <div class='col-md-3'><span><strong>Reps</strong></span></div>
      <div class='col-md-3'><span style='color:Gainsboro'><strong>DELETE</strong></span></div>

      <% @drills.where(day_id:1).each do |x| %>
      <div id="drill<%= x.id %>">
        <div class='col-md-3'>
          <span><%= x.exercise.name %></span>
        </div>
        <div class='col-md-3'>
          <span><%= x.sets %></span>
        </div>
        <div class='col-md-3'>
          <span><%= x.reps %></span>
        </div>
        <div class='col-md-3'>
          <%= link_to 'Delete', drill_path(x), method: :delete, remote: true, class:'btn btn-primary btn-sm'%>
        </div>
      </div>
      <% end %>
      <hr>
    <% else %>
      <span>Rest Day</span>
    <% end %>
  </div>
  <hr style='margin-right: 80px'>

  <div class='row' id='index-row'>
    <h2>Wednesday</h2>
    <% if @drills.where(day_id:2).count > 0 %>
      <% arr = [] %>

      <% @drills.where(day_id:2).each do |x| %>
        <% if !arr.include?(x.exercise.group.name) %>
          <% arr.push(x.exercise.group.name) %>
        <% end %>
      <% end %>
      <h3><%= arr.join(' & ') + ' Day' %></h3>
      <br>

      <div class='col-md-3'><span><strong>Exercises</strong></span></div>
      <div class='col-md-3'><span><strong>Sets</strong></span></div>
      <div class='col-md-3'><span><strong>Reps</strong></span></div>
      <div class='col-md-3'><span style='color:Gainsboro'><strong>DELETE</strong></span></div>

      <% @drills.where(day_id:2).each do |x| %>
      <div id="drill<%= x.id %>">
        <div class='col-md-3'>
          <span><%= x.exercise.name %></span>
        </div>
        <div class='col-md-3'>
          <span><%= x.sets %></span>
        </div>
        <div class='col-md-3'>
          <span><%= x.reps %></span>
        </div>
        <div class='col-md-3'>
          <%= link_to 'Delete', drill_path(x), method: :delete, remote: true, class:'btn btn-primary btn-sm'%>
        </div>
      </div>
      <% end %>
      <hr>
    <% else %>
      <span>Rest Day</span>
    <% end %>
  </div>
  <hr style='margin-right: 80px'>

  <div class='row' id='index-row'>
    <h2>Thursday</h2>
    <% if @drills.where(day_id:3).count > 0 %>
      <% arr = [] %>

      <% @drills.where(day_id:3).each do |x| %>
        <% if !arr.include?(x.exercise.group.name) %>
          <% arr.push(x.exercise.group.name) %>
        <% end %>
      <% end %>
      <h3><%= arr.join(' & ') + ' Day' %></h3>
      <br>

      <div class='col-md-3'><span><strong>Exercises</strong></span></div>
      <div class='col-md-3'><span><strong>Sets</strong></span></div>
      <div class='col-md-3'><span><strong>Reps</strong></span></div>
      <div class='col-md-3'><span style='color:Gainsboro'><strong>DELETE</strong></span></div>

      <% @drills.where(day_id:3).each do |x| %>
      <div id="drill<%= x.id %>">
        <div class='col-md-3'>
          <span><%= x.exercise.name %></span>
        </div>
        <div class='col-md-3'>
          <span><%= x.sets %></span>
        </div>
        <div class='col-md-3'>
          <span><%= x.reps %></span>
        </div>
        <div class='col-md-3'>
          <%= link_to 'Delete', drill_path(x), method: :delete, remote: true, class:'btn btn-primary btn-sm'%>
        </div>
      </div>
      <% end %>
      <hr>
    <% else %>
      <span>Rest Day</span>
    <% end %>
  </div>
  <hr style='margin-right: 80px'>

  <div class='row' id='index-row'>
    <h2>Friday</h2>
    <% if @drills.where(day_id:4).count > 0 %>
      <% arr = [] %>

      <% @drills.where(day_id:4).each do |x| %>
        <% if !arr.include?(x.exercise.group.name) %>
          <% arr.push(x.exercise.group.name) %>
        <% end %>
      <% end %>
      <h3><%= arr.join(' & ') + ' Day' %></h3>
      <br>

      <div class='col-md-3'><span><strong>Exercises</strong></span></div>
      <div class='col-md-3'><span><strong>Sets</strong></span></div>
      <div class='col-md-3'><span><strong>Reps</strong></span></div>
      <div class='col-md-3'><span style='color:Gainsboro'><strong>DELETE</strong></span></div>

      <% @drills.where(day_id:4).each do |x| %>
      <div id="drill<%= x.id %>">
        <div class='col-md-3'>
          <span><%= x.exercise.name %></span>
        </div>
        <div class='col-md-3'>
          <span><%= x.sets %></span>
        </div>
        <div class='col-md-3'>
          <span><%= x.reps %></span>
        </div>
        <div class='col-md-3'>
          <%= link_to 'Delete', drill_path(x), method: :delete, remote: true, class:'btn btn-primary btn-sm'%>
        </div>
      </div>
      <% end %>
      <hr>
    <% else %>
      <span>Rest Day</span>
    <% end %>
  </div>
  <hr style='margin-right: 80px'>

  <div class='row' id='index-row'>
    <h2>Saturday</h2>
    <% if @drills.where(day_id:5).count > 0 %>
      <% arr = [] %>

      <% @drills.where(day_id:5).each do |x| %>
        <% if !arr.include?(x.exercise.group.name) %>
          <% arr.push(x.exercise.group.name) %>
        <% end %>
      <% end %>
      <h3><%= arr.join(' & ') + ' Day' %></h3>
      <br>

      <div class='col-md-3'><span><strong>Exercises</strong></span></div>
      <div class='col-md-3'><span><strong>Sets</strong></span></div>
      <div class='col-md-3'><span><strong>Reps</strong></span></div>
      <div class='col-md-3'><span style='color:Gainsboro'><strong>DELETE</strong></span></div>

      <% @drills.where(day_id:5).each do |x| %>
      <div id="drill<%= x.id %>">
        <div class='col-md-3'>
          <span><%= x.exercise.name %></span>
        </div>
        <div class='col-md-3'>
          <span><%= x.sets %></span>
        </div>
        <div class='col-md-3'>
          <span><%= x.reps %></span>
        </div>
        <div class='col-md-3'>
          <%= link_to 'Delete', drill_path(x), method: :delete, remote: true, class:'btn btn-primary btn-sm'%>
        </div>
      </div>
      <% end %>
      <hr>
    <% else %>
      <span>Rest Day</span>
    <% end %>
  </div>
  <hr style='margin-right: 80px'>

  <div class='row' id='index-row'>
    <h2>Sunday</h2>
    <% if @drills.where(day_id:6).count > 0 %>
      <% arr = [] %>

      <% @drills.where(day_id:6).each do |x| %>
        <% if !arr.include?(x.exercise.group.name) %>
          <% arr.push(x.exercise.group.name) %>
        <% end %>
      <% end %>
      <h3><%= arr.join(' & ') + ' Day' %></h3>
      <br>

      <div class='col-md-3'><span><strong>Exercises</strong></span></div>
      <div class='col-md-3'><span><strong>Sets</strong></span></div>
      <div class='col-md-3'><span><strong>Reps</strong></span></div>
      <div class='col-md-3'><span style='color:Gainsboro'><strong>DELETE</strong></span></div>

      <% @drills.where(day_id:6).each do |x| %>
      <div id="drill<%= x.id %>">
        <div class='col-md-3'>
          <span><%= x.exercise.name %></span>
        </div>
        <div class='col-md-3'>
          <span><%= x.sets %></span>
        </div>
        <div class='col-md-3'>
          <span><%= x.reps %></span>
        </div>
        <div class='col-md-3'>
          <%= link_to 'Delete', drill_path(x), method: :delete, remote: true, class:'btn btn-primary btn-sm'%>
        </div>
      </div>
      <% end %>
      <hr>
    <% else %>
      <span>Rest Day</span>
    <% end %>
  </div>
  <hr style='margin-right: 80px'>
</div>
