<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
      aria-expanded="false">
      <span class='glyphicon glyphicon-menu-hamburger'></span>


      </button>

      <a class='navbar-brand' href="/">
        <span class='glyphicon glyphicon-fire'></span>
      </a>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class= "nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>



      <ul class="nav navbar-nav navbar-right">
        <% if user_sign_in? %>
        <li><%= link_to 'Find a Gym', map_path, data: {toggle: 'modal', target: '#gmap'} %></li>
          <li><%= link_to 'Get Started', gateway_path %></li>
          <% if Drill.count > 0 %>
            <li><%= link_to 'My Program', drills_path, data: {toggle: 'modal', target: '#myprogram'} %></li>
          <% end %>
          <li><%= link_to current_user.full_name, edit_user_path(current_user), data: {toggle: 'modal', target: '#edituser'} %></li>
          <li><%= link_to "Logout", sessions_path, method: :delete,data: {confirm: "are you sure you want to log out?"}%></li>
        <% else %>
          <li><%= link_to "Login", new_session_path, data: {toggle: 'modal', target: '#login'}%></li>
          <li><%= link_to "Sign Up", new_user_path, data: {toggle: 'modal', target: '#signup'} %></li>
        <% end %>
      </ul>

      <div class="modal fade" id="gmap" title="Map">
        <div class='modal-dialog'>
          <div class='modal-content' style='padding: 20px'>

          </div>
        </div>
      </div>


      <div class="modal fade" id="myprogram" title="My Program">
        <div class='modal-dialog modal-lg'>
          <div class='modal-content' style='padding: 20px'>

          </div>
        </div>
      </div>

      <div class="modal fade" id="login" title="Login">
        <div class='modal-dialog'>
          <div class='modal-content' style='padding: 20px'>

          </div>
        </div>
      </div>

      <div class="modal fade" id="edituser" title="Edit User">
        <div class='modal-dialog'>
          <div class='modal-content' style='padding: 20px'>

          </div>
        </div>
      </div>

      <div class="modal fade" id="signup" title="Signup">
        <div class='modal-dialog'>
          <div class='modal-content'>

          </div>
        </div>
      </div>


    </div>
  </div>
</nav>

<style>
.modal-backdrop:not(:last-child) {
  display: none;
}

.modal-lg{
  width: 1500px
}

</style>
