<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
      aria-expanded="false">
      <span class='glyphicon glyphicon-menu-hamburger'></span>


      </button>

      <!-- <a class='navbar-brand' href="/">
        <span class="" aria-hidden="true">🏋️</span>
      </a> -->

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class= "nav navbar-nav">
        <li><a href="/" id='title1'>Muscle Factory</a></li>
      </ul>



      <ul class="nav navbar-nav navbar-right">
        <% if user_sign_in? %>
        <li><%= link_to share_path, id:'findprogram1', data: {toggle: 'modal', target: '#findprogram'} do %>
          <i class='glyphicon glyphicon-search'></i>
        <% end %></li>
        <li><%= link_to map_path, id:'findgym1', data: {toggle: 'modal', target: '#gmap'} do %>
          <i class='glyphicon glyphicon-map-marker'></i> Map
        <% end %></li>
          <% if Drill.where(user_id: current_user.id).count > 0 %>
            <li><%= link_to drills_path, id:'myprogram1', data: {toggle: 'modal', target: '#myprogram'} do %>
              <i class='glyphicon glyphicon-user'></i> My Program
            <% end %></li>
          <% end %>
          <li><%= link_to current_user.full_name, edit_user_path(current_user), id:'user1', data: {toggle: 'modal', target: '#edituser'} %></li>
          <li><%= link_to "Logout", sessions_path, id:'logout1', method: :delete, data: {confirm: "are you sure you want to log out?"}%></li>
        <% else %>
          <li><%= link_to "Login", new_session_path, id:'login1', data: {toggle: 'modal', target: '#login'}%></li>
          <li><%= link_to "Sign Up", new_user_path, id:'signup1', data: {toggle: 'modal', target: '#signup'} %></li>
        <% end %>
      </ul>

      <div class="modal fade" id="findprogram" title="Map">
        <div class='modal-dialog'>
          <div class='modal-content' style='padding: 20px; width:1000px; margin-left:-200px'>

          </div>
        </div>
      </div>

      <div class="modal fade" id="gmap" title="Map">
        <div class='modal-dialog'>
          <div class='modal-content' style='padding: 20px'>

          </div>
        </div>
      </div>


      <div class="modal fade" id="myprogram" title="My Program">
        <div class='modal-dialog modal-lg'>
          <div class='modal-content' style='padding: 20px; margin-right:50px'>

          </div>
        </div>
      </div>

      <div class="modal fade" id="login" title="Login">
        <div class='modal-dialog'>
          <div class='modal-content' style='padding: 20px'>

          </div>
        </div>
      </div>

      <div class="modal fade" id="edituser" title="Edit User">
        <div class='modal-dialog'>
          <div class='modal-content' style='padding: 20px'>

          </div>
        </div>
      </div>

      <div class="modal fade" id="signup" title="Signup">
        <div class='modal-dialog'>
          <div class='modal-content'>

          </div>
        </div>
      </div>


    </div>
  </div>
</nav>

<style>
.modal-backdrop:not(:last-child) {
  display: none;
}

.modal-lg{
  width: 1500px
}

</style>
